.con-right-ol{	
	border: 1px solid #C40809;
	border-radius: 5px;
	box-shadow: 0 0 5px #C40809 inset;
	margin-bottom: 20px;
}
.con-right-ol h3{
	height: 30px;
    line-height: 30px;
    color: #fff;
    font-size: 16px;
    background: #C40809;
	text-align: center;
	margin: 0;
}
.con-right-ol ol li{
	height: 30px;
	line-height: 30px;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #b30708;
	box-shadow: 0 -1px 3px #b30708 inset;
	padding: 0 0 0 10px;
}
.con-right-ol ol li a{
	display: block;
	overflow: hidden;
}
.con-right-ol ol li a:link,
.con-right-ol ol li a:visited,
.con-right-ol ol li a:link span:first-child,
.con-right-ol ol li a:visited span:first-child{
	color: #FF565F;
	font-size: 14px;
	-webkit-transition: color 0.3s linear,
				font-size 0.3s linear;
	-moz-transition: color 0.3s linear,
				font-size 0.3s linear;
	transition: color 0.3s linear,
				font-size 0.3s linear;
}
.con-right-ol ol li a:hover span:first-child,
.con-right-ol ol li a:active span:first-child{
	color: #c00;
	font-size: 16px;
}
.con-right-ol ol li a>span:last-child{
	float: right;
	margin-right: 20px;
}
.con-right-ol ol{
	list-style: decimal inside;
	color: #FF565F;
}

.list-group {
	margin-bottom: 0;
}