<div class="footer">
    <div class="links">
        <h3>站外链接</h3>
        <ul class='list-group clearfix'>
            <li class="list-group-item" *ngFor="let link of siteLinks;trackBy: trackBySiteLinks" title='{{link.name}}'><a href="{{link.url}}" target="_blank">{{link.name}}</a></li>
        </ul>
    </div>
    <div class="copyright">
        <p>曙光电影-最给力的电影网-提供最新电影,最新电视剧,免费电影迅雷下载</p>
        <p>本站资源来自互联网免费共享,仅供交流学习之用,版权归作者本人所有,如果侵犯了您的权益,请通知我们。</p>
        <p>| 沪ICP备XXXXXXXX号 | 管理员信箱XXXXXX@163.com | dawn.com |</p>
    </div>
</div>
    