<div class='login-container'>
  <form class='login' [formGroup]='myForm' (ngSubmit)="toLogin(myForm)">
    <h2>Login</h2>
    <div class="form-group">
      <label for="exampleInputEmail1">Username</label>
      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Username" [formControl]="myForm.controls['username']" ngModel name='username'>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" [formControl]="myForm.get('password')" ngModel name='password'>
    </div>
    <div class="form-group code">
      <input type="text" class="form-control" id="code" placeholder="Verification code" [formControl]="myForm.controls['code']" ngModel name="code"><span (click)="updateCode()">{{codePic}}</span>
    </div>
    <div class="checkbox">
      <label>
      <input type="checkbox"> Check me out
    </label>
    </div>
    <button type="submit" class="btn btn-default" [disabled]="!myForm.valid">Login</button>
  </form>
</div>
